body{
    width: 97%;
    // background-color: #009b00;
    min-width: 300px;
}

#input-el{
    margin: 10px;
    width: 90%;
    height: 30px;
    
    box-sizing: border-box;
    &:hover{
        border: .2em  solid #009b00;
        cursor:text;

    }
}

#save , #tab-btn{
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #009b00;
    color: white;
    font-weight: bolder;
    &:hover{
        cursor: pointer;
        background-color: #7ad77a;
        color: rgb(39, 39, 39);
    }
}

#reset{
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #009b00;
    color: white;
    font-weight: bolder;
    &:hover{
        cursor: pointer;
        background-color: #7ad77a;
        color: rgb(39, 39, 39);
    }
}


#list-el{
    
    // background-color: grey;
    height: 9em;
}

ul{
    margin-top: 20px;
    list-style: none;
    text-decoration: none;
    padding-left:0 ;
}
li{
    margin-top: 5px;
}
li a{
    color: #009b00;
    font-size: 1.2em;
}